In [88]:
import pandas as pd

In [89]:
# Processing the data
data = pd.read_csv(r'C:\Users\lenovo\Desktop\studia\Semestr V\Anliza i Bazy Danych\AiBD_Kojs\laboratorium-2\Original Data\earthquake_data.csv')
data.head()

# Nadanie nowych nazw dla kolumn
col1 = 'Worried about earthquakes'
col2 = 'Worried about the Big One'
col3 = 'The "Big One" will occur in your lifetime?'
col4 = 'Experienced an earthquake'
col5 = 'Take precautions for an earthquake'
col6 = 'Familar with the San Andreas Fault line'
col7 = 'Familar with the Yellowstone Supervolcano'
col8 = 'Age'
col9 = 'Gender'
col10 = 'Total household combined money'
col11 = 'US Region'

In [90]:
copy_data = data
data.head(30)
new_column_name = [col1, col2, col3, col4, col5, col6, col7, col8, col9, col10, col11]

# Zmiana nazw kolumn na nowe
copy_data.columns = new_column_name

# Zmienienie Nanów na Prefer not to answer w jednej kolumnie
copy_data['Total household combined money'] = copy_data['Total household combined money'].fillna('Prefer not to answer')

# Usunięcie wierszy, gdzie występuje jakikolwiek Nan
copy_data.dropna(axis=0, inplace=True)
copy_data = copy_data.reset_index(drop=True)

copy_data.head(10)
copy_data.to_csv('earthquake_data_clean.csv', index=False)

In [91]:
# Create new table
new_dataframe = copy_data.loc[0:copy_data.shape[0], ['The "Big One" will occur in your lifetime?', 'Age', 'Gender']]
new_dataframe.head(200)

    The "Big One" will occur in your lifetime?      Age  Gender
0                                           No  18 - 29    Male
1                                           No  18 - 29    Male
2                                           No  18 - 29    Male
3                                           No  18 - 29    Male
4                                          Yes  18 - 29    Male
..                                         ...      ...     ...
195                                         No  30 - 44    Male
196                                        Yes  45 - 59    Male
197                                         No  18 - 29  Female
198                                         No  18 - 29  Female
199                                        Yes  18 - 29  Female

[200 rows x 3 columns]

In [92]:
# Constructing the Data Appendix

In [93]:
# Generating the results