In [29]:
import pandas as pd

In [30]:
# Processing the data
data = pd.read_csv(r'C:\Users\lenovo\Desktop\studia\Semestr V\Anliza i Bazy Danych\AiBD_Kojs\laboratorium-2\Original Data\earthquake_data.csv')
data.head()

col1 = 'Worried about earthquakes'
col2 = 'Worried about the Big One'
col3 = 'The "Big One" will occur in your lifetime?'
col4 = 'Experienced an earthquake'
col5 = 'Take precautions for an earthquake'
col6 = 'Familar with the San Andreas Fault line'
col7 = 'Familar with the Yellowstone Supervolcano'
col8 = 'Age'
col9 = 'Gender'
col10 = 'Total household combined money'
col11 = 'US Region'

copy_data = data
new_column_name = [col1, col2, col3, col4, col5, col6, col7, col8, col9, col10, col11]

copy_data.columns = new_column_name

copy_data.dropna(axis=0, inplace=True)
copy_data = copy_data.reset_index(drop=True)

copy_data.head(10)

,Worried about earthquakes,Worried about the Big One,"The ""Big One"" will occur in your lifetime?",Experienced an earthquake,Take precautions for an earthquake,Familar with the San Andreas Fault line,Familar with the Yellowstone Supervolcano,Age,Gender,Total household combined money,US Region
0,Not at all worried,Not so worried,No,"Yes, one or more minor ones",No,Somewhat familiar,Not so familiar,18 - 29,Male,Prefer not to answer,New England
1,Somewhat worried,Very worried,No,"Yes, one or more minor ones",No,Not at all familiar,Not at all familiar,18 - 29,Male,"$75,000 to $99,999",East North Central
2,Not so worried,Somewhat worried,No,"Yes, one or more minor ones",No,Very familiar,Somewhat familiar,18 - 29,Male,"$10,000 to $24,999",Pacific
3,Not so worried,Not so worried,No,"Yes, one or more minor ones",No,Very familiar,Not so familiar,18 - 29,Male,"$25,000 to $49,999",West South Central
4,Not so worried,Not so worried,Yes,"Yes, one or more minor ones",No,Somewhat familiar,Extremely familiar,18 - 29,Male,"$200,000 and up",Middle Atlantic
5,Not at all worried,Not at all worried,No,"Yes, one or more minor ones",No,Very familiar,Not so familiar,18 - 29,Male,"$25,000 to $49,999",East North Central
6,Not at all worried,Not at all worried,No,No,No,Not so familiar,Not at all familiar,18 - 29,Male,Prefer not to answer,South Atlantic
7,Not at all worried,Not at all worried,No,"Yes, one or more minor ones",No,Very familiar,Somewhat familiar,18 - 29,Male,Prefer not to answer,East North Central
8,Not at all worried,Not at all worried,No,No,No,Not at all familiar,Not so familiar,18 - 29,Male,"$10,000 to $24,999",East North Central
9,Not at all worried,Not so worried,No,"Yes, one or more major ones",No,Somewhat familiar,Not so familiar,18 - 29,Male,"$50,000 to $74,999",West North Central

In [31]:
# Create new table
new_dataframe = copy_data.loc[0:copy_data.shape[0], ['The "Big One" will occur in your lifetime?', 'Age', 'Gender']]
new_dataframe.head(200)

    The "Big One" will occur in your lifetime?      Age  Gender
0                                           No  18 - 29    Male
1                                           No  18 - 29    Male
2                                           No  18 - 29    Male
3                                           No  18 - 29    Male
4                                          Yes  18 - 29    Male
..                                         ...      ...     ...
195                                         No  30 - 44    Male
196                                        Yes  45 - 59    Male
197                                         No  18 - 29  Female
198                                         No  18 - 29  Female
199                                        Yes  18 - 29  Female

[200 rows x 3 columns]

In [32]:
# Constructing the Data Appendix

In [33]:
# Generating the results